//css resets
*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: inherit;
}

html {
 font-size: 62.5%;
 //1rem = 10px;
}
body {
 box-sizing: border-box;
}


//flexbox for sticky footer
.sticky {
 display: flex;
 min-height: 100vh;
 flex-direction: column;
}
//flex 1 set to main wrapper for sticky footer
.main {
 flex: 1;
}