.form {
 min-height: 100vh;
 min-width: 100vw;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 

  & .text {
   font-size: 4rem;
   display: inline-block;
   text-align: center;
   margin-bottom: 1rem;
   color: #ccc;
   font-weight: bold;
  }
}

.userForm {
 background:#f9f9f9;
 height: 25vh;
 width: 50vw;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 border-radius: 5px;
 box-shadow: 2px 2px 10px rgba(0,0,0,0.3)
;
  label {
   position: relative;
   border-bottom: 1px solid #21A1F2;
   max-width: 100%;
   margin: 30px auto 10px auto;

    &::before {
     position: absolute;
     bottom: -2px;
     content: '';
     width: 0;
     height: 2px;
     transition: all 400ms ease;
    }

    p {
     font-size: 1.6rem;
     position: absolute;
     bottom: -20px;
    }
  }
 input {
  background-color: #fff!important;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: #333;
  font-size: 16px;
  border: none;
  padding: 1.2rem;
  width: 30rem;

   &:focus {
    outline: none;
   } 
 }
 button {
  margin-top: 2rem;
 }
}

.button {
 background: #444;
 border: 1px solid transparent;
 color: #fff;
 padding: 1rem 5rem;
 border-radius: 5px;
 margin: 3rem 0 2rem 0;
 transition: all 300ms ease-out;
 cursor: pointer;

 &:hover {
  background: #fff;
  border: 1px solid #333; 
  color: #333;
 }

}

//post comments

.post--comments {
 width: 80vw;
 margin: 0 auto;
 margin-top: 5rem;
}

.comments {
   h3 {
    text-align: center;
    font-size: 2.2rem;
    color: #ccc;
    font-weight: bold;
   }

  &--form {
   width: 50vw;
   margin: 2rem auto;
   display: flex;
   flex-direction: column;

    label {
     margin: 1rem;
     border-radius: 3px;
     input {
      width: 100%;
     }
    }

    textarea {
     margin: 0 1rem 2rem 1rem;
    }
    input, textarea {
     padding: 1rem;
     font-size: 1.6rem;
     border-radius: 3px;
     border: 1px solid #333;
      &:focus {
       outline: none;
      }
    }

    button {
     width: 20rem;
     height: 2.5rem;
     margin: 0 auto;
     cursor: pointer;
     background: #fff;
     outline: none;
     border: 1px solid #333;
     color:#555;
     border-radius: 4px;
     transition: all 300ms ease-in-out;

      &:hover {
       background: #333;
       border: 1px solid #fff;
       color: #fff;
      }
     
    }
  }

}

.signUp {
 margin-top: 1rem;

  & a {
   color: red;
   font-weight: bold;
   font-size: 1.5rem;
  }
}

 ////Edit form

 .edit {
  width: 80vw;
  height: 60vw;
  background: #fff;
  border-radius: 5px;
  margin: 2rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 60px -30px;

  h2 {
   margin-top: 6rem;
   font-size: 3rem;
   color: #777;
  }


   form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 75vh;

     label {
      margin-bottom: 1rem;
      font-weight: bold;
      input {
       width: 100%;
       padding: 1rem;
       margin-top: .5rem;
       background: #f9f9f9;
       border: 1px solid #333;
       
      }
     }

     textarea {
      margin-top: .5rem;
      width: 100%;
      padding: 1rem;
      height: 300px;
      background: #f9f9f9;
      border: 1px solid #333;
     }
     input, label, textarea {
      font-size: 1.6rem;
      outline: none;
      
     }
   }
 }

 .button {
  width: 20rem;
  margin: 0 auto;
  cursor: pointer;
  background: #f9f9f9;
  outline: none;
  border: 1px solid #333;
  color: #555;
  border-radius: 4px;
  transition: all 300ms ease-in-out;
 }
